$main-color: #FEF898;
$secondary-color: #C7403D;
$pokemon-main-color: #FCCD02;
$pokemon-stroke-color: #386EB7;
$navbar-height: 125px;
$navbar-middle-loading-time: 0.5s;
$navbar-image-loading-time: 0.75s;
$navbar-content-slide-in-time: 0.5s
