@import '../../styles/_vars';
@import './_keyframes';

.navbar__container {
  position: absolute;
  opacity: 0.75;
  z-index: 10;
  height: $navbar-height;
  width: 100%;
  background-color: $main-color;
  display: flex;

  a {
    color: $secondary-color;
    font-weight: bold;
    text-decoration: none;
  }

  .leftPart, .rightPart {
    width: calc((100% - #{$navbar-height}) / 2);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 45px;
    margin-top: -$navbar-height;
    animation: navbar-content-sliding-in $navbar-content-slide-in-time ease-in-out forwards;
    animation-delay: $navbar-image-loading-time;
  }

  .middle {
    animation: navbar-middle-loading $navbar-middle-loading-time ease-in-out;
    width: $navbar-height;
    height: inherit;
    transform: rotate(45deg);
    margin-top: calc(#{$navbar-height / 2});
    background-color: inherit;

    img {
      animation: navbar-image-loading $navbar-image-loading-time ease-in-out;
      animation-delay: $navbar-middle-loading-time;
      animation-fill-mode: forwards;
      width: 0;
      margin-top: calc(#{-$navbar-height / 10});
      margin-left: calc(#{-$navbar-height / 10});
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
}
